USE [master]
GO
/****** Object:  Database [Retail_Project]    Script Date: 3/7/2026 7:58:52 PM ******/
CREATE DATABASE [Retail_Project]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Retail_Project', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Retail_Project.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Retail_Project_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Retail_Project_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Retail_Project].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Retail_Project]
GO
/****** Object:  Table [dbo].[Calendar]    Script Date: 3/7/2026 7:58:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Calendar](
	[Month] [tinyint] NOT NULL,
	[Day] [tinyint] NOT NULL,
	[Year] [smallint] NOT NULL,
	[Date] [date] NOT NULL,
 CONSTRAINT [PK_Calendar] PRIMARY KEY CLUSTERED 
(
	[Date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 3/7/2026 7:58:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[customer_id] [smallint] NOT NULL,
	[customer_acct_num] [bigint] NOT NULL,
	[first_name] [nvarchar](50) NOT NULL,
	[last_name] [nvarchar](50) NOT NULL,
	[customer_address] [nvarchar](50) NOT NULL,
	[customer_city] [nvarchar](50) NOT NULL,
	[customer_state_province] [nvarchar](50) NOT NULL,
	[customer_postal_code] [int] NOT NULL,
	[customer_country] [nvarchar](50) NOT NULL,
	[birthdate] [date] NOT NULL,
	[marital_status] [nvarchar](50) NOT NULL,
	[yearly_income] [nvarchar](50) NOT NULL,
	[gender] [nvarchar](50) NOT NULL,
	[total_children] [tinyint] NOT NULL,
	[num_children_at_home] [tinyint] NOT NULL,
	[education] [nvarchar](50) NOT NULL,
	[acct_open_date] [date] NOT NULL,
	[member_card] [nvarchar](50) NOT NULL,
	[occupation] [nvarchar](50) NOT NULL,
	[homeowner] [bit] NOT NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fact_sales]    Script Date: 3/7/2026 7:58:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fact_sales](
	[transaction_date] [date] NOT NULL,
	[stock_date] [date] NOT NULL,
	[product_id] [smallint] NOT NULL,
	[customer_id] [smallint] NOT NULL,
	[store_id] [tinyint] NOT NULL,
	[quantity] [tinyint] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 3/7/2026 7:58:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[product_id] [smallint] NOT NULL,
	[product_brand] [nvarchar](50) NOT NULL,
	[product_name] [nvarchar](50) NOT NULL,
	[product_sku] [bigint] NOT NULL,
	[product_retail_price] [float] NOT NULL,
	[product_cost] [float] NOT NULL,
	[product_weight] [float] NOT NULL,
	[recyclable] [tinyint] NULL,
	[low_fat] [tinyint] NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Region]    Script Date: 3/7/2026 7:58:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Region](
	[region_id] [tinyint] NOT NULL,
	[sales_district] [nvarchar](50) NOT NULL,
	[sales_region] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Region] PRIMARY KEY CLUSTERED 
(
	[region_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Returns]    Script Date: 3/7/2026 7:58:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Returns](
	[return_date] [date] NOT NULL,
	[product_id] [smallint] NOT NULL,
	[store_id] [tinyint] NOT NULL,
	[quantity] [tinyint] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sales 1997]    Script Date: 3/7/2026 7:58:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sales 1997](
	[transaction_date] [date] NOT NULL,
	[stock_date] [date] NOT NULL,
	[product_id] [smallint] NOT NULL,
	[customer_id] [smallint] NOT NULL,
	[store_id] [tinyint] NOT NULL,
	[quantity] [tinyint] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sales 1998]    Script Date: 3/7/2026 7:58:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sales 1998](
	[transaction_date] [date] NOT NULL,
	[stock_date] [date] NOT NULL,
	[product_id] [smallint] NOT NULL,
	[customer_id] [smallint] NOT NULL,
	[store_id] [tinyint] NOT NULL,
	[quantity] [tinyint] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stores]    Script Date: 3/7/2026 7:58:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stores](
	[store_id] [tinyint] NOT NULL,
	[region_id] [tinyint] NOT NULL,
	[store_type] [nvarchar](50) NOT NULL,
	[store_name] [nvarchar](50) NOT NULL,
	[store_street_address] [nvarchar](50) NOT NULL,
	[store_city] [nvarchar](50) NOT NULL,
	[store_state] [nvarchar](50) NOT NULL,
	[store_country] [nvarchar](50) NOT NULL,
	[store_phone] [nvarchar](50) NOT NULL,
	[first_opened_date] [date] NOT NULL,
	[last_remodel_date] [date] NOT NULL,
	[total_sqft] [int] NOT NULL,
	[grocery_sqft] [smallint] NOT NULL,
 CONSTRAINT [PK_Stores] PRIMARY KEY CLUSTERED 
(
	[store_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Fact_sales]  WITH CHECK ADD  CONSTRAINT [FK_Fact_sales_Calendar] FOREIGN KEY([transaction_date])
REFERENCES [dbo].[Calendar] ([Date])
GO
ALTER TABLE [dbo].[Fact_sales] CHECK CONSTRAINT [FK_Fact_sales_Calendar]
GO
ALTER TABLE [dbo].[Fact_sales]  WITH CHECK ADD  CONSTRAINT [FK_Fact_sales_Customers] FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customers] ([customer_id])
GO
ALTER TABLE [dbo].[Fact_sales] CHECK CONSTRAINT [FK_Fact_sales_Customers]
GO
ALTER TABLE [dbo].[Fact_sales]  WITH CHECK ADD  CONSTRAINT [FK_Fact_sales_Products] FOREIGN KEY([product_id])
REFERENCES [dbo].[Products] ([product_id])
GO
ALTER TABLE [dbo].[Fact_sales] CHECK CONSTRAINT [FK_Fact_sales_Products]
GO
ALTER TABLE [dbo].[Fact_sales]  WITH CHECK ADD  CONSTRAINT [FK_Fact_sales_Stores] FOREIGN KEY([store_id])
REFERENCES [dbo].[Stores] ([store_id])
GO
ALTER TABLE [dbo].[Fact_sales] CHECK CONSTRAINT [FK_Fact_sales_Stores]
GO
ALTER TABLE [dbo].[Returns]  WITH CHECK ADD  CONSTRAINT [FK_Returns_Calendar] FOREIGN KEY([return_date])
REFERENCES [dbo].[Calendar] ([Date])
GO
ALTER TABLE [dbo].[Returns] CHECK CONSTRAINT [FK_Returns_Calendar]
GO
ALTER TABLE [dbo].[Returns]  WITH CHECK ADD  CONSTRAINT [FK_Returns_Products] FOREIGN KEY([product_id])
REFERENCES [dbo].[Products] ([product_id])
GO
ALTER TABLE [dbo].[Returns] CHECK CONSTRAINT [FK_Returns_Products]
GO
ALTER TABLE [dbo].[Returns]  WITH CHECK ADD  CONSTRAINT [FK_Returns_Stores] FOREIGN KEY([store_id])
REFERENCES [dbo].[Stores] ([store_id])
GO
ALTER TABLE [dbo].[Returns] CHECK CONSTRAINT [FK_Returns_Stores]
GO
ALTER TABLE [dbo].[Stores]  WITH CHECK ADD  CONSTRAINT [FK_Stores_Region] FOREIGN KEY([region_id])
REFERENCES [dbo].[Region] ([region_id])
GO
ALTER TABLE [dbo].[Stores] CHECK CONSTRAINT [FK_Stores_Region]
GO
USE [master]
GO
